{% extends "now-prototype-it-design-system/layouts/docs.njk" %}

{% macro displayNav(nav) %}
  <ul>
    {% for navItem in nav %}
      <li>
        {% if navItem.url %}
          <a href="{{ navItem.url }}"
             class="{% if navItem.isCurrentPage %}current-page{% elseif navItem.isRelatedToCurrentPage %}related-to-current-page{% endif %}">{{ navItem.name }}</a>
        {% else %}
          <span>{{ navItem.name }}</span>
        {% endif %}
        {% if navItem.isRelatedToCurrentPage and navItem.children %}
          {{ displayNav(navItem.children) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block content %}
  <div class="docs-page">
    <aside class="docs-sidebar">
      <nav class="full-nav">
        {{ displayNav(nav) }}
      </nav>
    </aside>
    <main class="docs-content">
      <nav class="breadcrumbs">
        {% for breadcrumbsItem in breadcrumbs %}
          {% if not loop.first %}
            &gt;
          {% endif %}
          {% if breadcrumbsItem.url %}
            <a href="{{ breadcrumbsItem.url }}">{{ breadcrumbsItem.name }}</a>
          {% else %}
            <span>{{ breadcrumbsItem.name }}</span>
          {% endif %}
        {% endfor %}
      </nav>

      {% block docsContent %}{% endblock %}
    </main>
  </div>
{% endblock %}
