/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1b2441;
  --ifm-color-primary-dark: #18203b;
  --ifm-color-primary-darker: #171f37;
  --ifm-color-primary-darkest: #13192e;
  --ifm-color-primary-light: #1e2848;
  --ifm-color-primary-lighter: #1f294b;
  --ifm-color-primary-lightest: #232f55;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.navbar {
  display: block;
  text-align: center;
  min-height: 10rem;
  border-bottom: 1px solid #1b2441;
  background-image: url('/img/logo.png');
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center 1rem;
  background-size: 38rem;
  padding-top: 6.5rem;

  @media (max-width: 39rem) {
    background-size: 100vw;
    /*padding-top: 5.5rem;*/
  }
  h3 {
    font-weight: 400;
    font-size: 2rem;
  }
}

.markdown a {
  /*font-weight: 600;*/
  color: #35529C;
  &:hover {
    text-decoration: none;
    border-bottom: 2px solid #35529C;
  }
}

.theme-doc-sidebar-container {
  margin-top: 0 !important;
}

.theme-doc-sidebar-container > div:first-child {
  border-right: 1px solid #1b2441;
}

.theme-doc-sidebar-container > div:first-child > div:first-child {
  padding-top: 2rem;
}

.navbar__toggle {
  position: absolute;
  /*z-index: 9999;*/
  top: 6.9rem;
  left: 1rem;
}
